@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 26, 26, 26;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  /* 시니어 가독성을 위한 기본 텍스트 크기 설정 */
  font-size: 24px; 
}